.parent
{
    position: relative;
    border: 1px black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle
{
    border: black;
    height: 750px;
    width: 750px;
    background: #476ef7;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -120px;
    z-index: 1;
}


.header-home
{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 0px 25px;
}
#click-here-button
{
    background-color: white;
    color: #476ef7;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.50);

}

#Name
{
    color: #476ef7;
    font: size 150px;
}
.form-floating
{
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
}
#login-button
{
    background: #476ef7;
    color: white;
    padding: 0px 15px;
}
.main-content
{
    margin-left: 20px;
}
body{
    font-family: "Comfortaa", serif;
}