body{
    font-family: "Comfortaa", serif;
}
.header
{
    background: #476ef7;
    color: white;
    padding-left: 25px;
    font-size: large;
}
.input-form
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #476ef7;
    margin-top: 15px;
    padding: 25px 0px;
}
.fomr-floating
{
    
}
#add-button
{
    background: #476ef7;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;
    color: white;

}
.inputs
{
    width: 30%; 
}
.cards
{
    
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.card{
     background: #476ef7;
     border: 0px;
     height: 150px;
}
.card-body
{
    color: white;

}
.Transaction-table
{
    border: 1px black;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0,0, 0.25);
    padding: 0px;
}

#header-row
{
    background: #476ef7;
}
#header-row th
{
    padding: 15px 0px;
    color: white;
}
.delete-button
{
    background: red;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}